<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 pull-right">
                <a href="#/addArticle" class="btn btn-primary btn-lg">Ajouter Article</a>
            </div>
        </div>
    </div>
    <div ng-controller="articleCtrl">
        <div ng-repeat="article in articles">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9">
                        <div ng-attr-id="{{article._id}}">
                        <div class="page-header">
                            <h1>{{article.title}}</h1>
                        </div>
                        <p>{{article.content}}</p>
                        <p class="pull-right">{{article.date | date:'dd-MM-yyyy HH:mm'}}</p>    
                        <br></br>
                        <a ng-click="deleteArticle(article._id)" href="#" class="btn btn-danger btn-lg pull-right" style="margin-left : 1em;">Supprimer Article</a>
                            
                        <a ng-click="editArticle(article._id, article.title, article.content, article.date)" href="#" class="btn btn-primary btn-lg pull-right">Modifier Article</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>