<div ng-controller="newPage">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <fieldset>
                        <legend>Ajouter une Page</legend>
                    </fieldset>
                    <form ng-submit="addNewPage()">
                        <div class="clearfix">
                            <label>Nom de la page</label>
                            <div class="input">
                                <input type="text" ng-model="newPage.title"/>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>Contenue</label>
                            <div class="input">
                                <textarea rows="7" cols="100" ng-model="newPage.content"></textarea>
                            </div>
                        </div>
                        <a href="#/pages" style="margin-left : 1em" class="btn btn-lg btn-danger pull-right" role="button">Annuler</a>

                        <button type="submit" class="btn btn-lg btn-primary pull-right">Envoyer</button>
                        <br></br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
