<div ng-controller="pagesCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Pages</h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>

                            <tr>
                                <th>#</th>
                                <th>Titre</th>
                                <th>Auteur</th>
                                <th>Tags</th>
                                <th><span class="glyphicon glyphicon-comment"></span></th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>

                            <tr ng-repeat="page in pages" ng-attr-id="{{page._id}}" class="info">
                                <td>{{page._id}}</td>
                                <td>{{page.title}}</td>
                                <td>{{page.user.first_name}}</td>
                                <td>Tags non disponble</td>
                                <td>Commentaire non disponble</td>
                                <td>{{page.date | date:'dd-MM-yyyy HH:mm'}}</td>
                                <td>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-edit" ng-click="editPage(page._id, page.title, page.content, page.date)"></span>
                                    </a>

                                    <a href="#" style="margin-left : 5px;">
                                        <span class="glyphicon glyphicon-remove" ng-click="deletePage(page._id)"></span>
                                    </a>
                                </td>

                            </tr>
                        </thead>
                    </table>
                </div>
                <a href="#/addPage" class="btn btn-primary btn-lg">Ajouter Page</a>
            </div>
        </div>
    </div>
</div>
