<div ng-controller="siteHeaderCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container">

            <ul class="nav navbar-nav">
                <li ng-repeat="categorie in categories"><a href="#/categorie_articles/{{categorie._id}}" class="btn btn-link btn-lg" >{{categorie.title}}</a></li>
                <li ng-repeat="page in pages"><a href="#/page/{{page._id}}" class="btn btn-link btn-lg" >{{page.title}}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="logged"><a href="#/login" class="dropdown-menu-right btn btn-link btn-lg"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
                <li ng-hide="logged"><a href="#/newUser" class="dropdown-menu-right btn btn-link btn-lg"><span class="glyphicon glyphicon-user"></span> Nouvel Utilisateur</a></li>
                <li ng-show="logged"><a href="#/dashboard" class="dropdown-menu-right btn btn-link btn-lg">Mode Admin</a></li>
                <li ng-show="logged"><a href="" class="dropdown-menu-right btn btn-link btn-lg" ng-click="deconnexion()"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
            </ul>

        </div>
    </nav>
</div>
