<div ng-controller="showArticlesCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div ng-repeat="article in articles" >
                    <div ng-controller="siteArticleController">

                        <div ng-attr-id="{{article._id}}" class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 >{{article.title}}</h2>
                            </div>
                            <div class="panel-body">
                                <p class="lead">{{article.content}}</p>
                                <p class="pull-right" style="margin-right : 1em;">{{article.user.last_name}} {{article.user.first_name}}</p>
                                <div class="clearfix"></div>
                                <p class="pull-right">{{ article.date | date:'dd-MM-yyyy HH:mm'}}</p>

                            <h1 ng-if="comments.length > 0"><small>Derniers commentaires :</small></h1>

                            <table style="margin-left : 10em; width : 85%;" class="table table-striped">
                                <tbody>
                                  <tr ng-repeat="comment in comments | limitTo:3">
                                    <td ng-if="comment.anonymous == false">{{comment.user.last_name}} {{comment.user.first_name}}</td>
                                    <td ng-if="comment.anonymous">Anonyme</td>
                                    <td>{{comment.content}}</td>
                                    <td>{{comment.date | date:'dd-MM-yyyy HH:mm'}}</td>
                                  </tr>
                                </tbody>
                              </table>

                            <div class="clearfix"></div>

                            <a ng-hide="comment" href="" class="btn btn-lg btn-link pull-right" ng-click="show_comment_form(this)">Commenter!!</a>
                            <a href="/#/article/comments/{{article._id}}" class="btn btn-lg btn-link pull-left" >Afficher tout les commentaires</a>
                            <div class="clearfix"></div>

                            <div ng-show="comment">
                                <form ng-submit="add_comment(article._id)">
                                    <h1><small>Ajout d'un nouveau commentaire</small></h1>
                                    <textarea ng-model="new_comment.content" style="width : 100%; height : 8em;" placeholder="Commentez!!!"></textarea>
                                    <a ng-click="cancel(this)" style="margin-top : 0.5em; margin-left : 1em;" class="btn btn-lg btn-danger pull-right">Annuler</a>
                                    <button type="submit" style="margin-top : 0.5em;" class="btn btn-lg btn-primary pull-right">Envoyer</button>
                                </form>
                                <br></br>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
