<div ng-controller="headerCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container">

            <ul class="nav navbar-nav">
                <li><a href="#/dashboard" class="btn btn-link btn-lg">Dashbord</a></li>
                <li><a href="#/categories" class="btn btn-link btn-lg">Categories</a></li>
                <li><a href="#/articles" class="btn btn-link btn-lg">Articles</a></li>
                <li><a href="#/pages" class="btn btn-link btn-lg">Pages</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a href="#/" class="dropdown-menu-right btn btn-link btn-lg" >Apercu du site</a></li>
                <li><a href="#/admin/editProfil" class="dropdown-menu-right btn btn-link btn-lg"><span class="glyphicon glyphicon-user"></span> Modifier Profil</a></li>
                <li><a href="" class="dropdown-menu-right btn btn-link btn-lg" ng-click="deconnexion()"> <span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
            </ul>

        </div>
    </nav>
</div>
